
.header {
    background-color: #4aaaa5;
    margin: 0;
    padding: 0;
    font-size: 48px;
    line-height: 150%;
    color: white;
    font-family: 'Georgia', Times, Times New Roman, serif;
    position: fixed;

}
.active {
margin-left: 200px;

}


body {
background-image: url('file:///Users/seankelly/Desktop/code/Basic-Portfolio/Assets/images/2.png')

}

#image {
    top: 0;
    left: 0;
    background: white;
    float: left;
}

#content {
    background: white;
    text-align: left;
    float: left;
    font-family: 'Arial', 'Helvetica Neue', Helvetica, sans-serif;
    margin-left: 200px;
    margin-right: 200px;
    color: #777777;
    width: 960px;

}
p {
    float: right;


}
h1 {
color: #4aaaa5;

}

h2 {
    background-color: white;
    margin: 0;
    padding: 0;
    font-size: 48px;
    line-height: 150%;
    color: #4aaaa5;
    font-family: 'Georgia', Times, Times New Roman, serif;
    position: fixed;
    float: left; 


}

.wrapper {
background: white;

}


* {
    box-sizing: border-box;
}

/* Style inputs */
input[type=text], select, textarea {
    width: 100%;
    padding: 12px;
    border: 1px solid #ccc;
    margin-top: 6px;
    margin-bottom: 16px;
    resize: vertical;
}

input[type=submit] {
    background-color: #4aaaa5;
    color: white;
    padding: 12px 20px;
    border: none;
    cursor: pointer;
}

input[type=submit]:hover {
    background-color: #4aaaa5;
}

/* Style the container/contact section */
.container {
    border-radius: 5px;
    background-color: #ffffff;
    padding: 10px;
    
    margin-left: 200px;
}

/* Create two columns that float next to eachother */
.column {
    float: left;
    width: 50%;
    margin-top: 6px;
    padding: 20px;
}

/* Clear floats after the columns */
.row:after {
    content: "";
    display: table;
    clear: both;
}

/* Responsive layout - when the screen is less than 600px wide, make the two columns stack on top of each other instead of next to each other */
@media screen and (max-width: 600px) {
    .column, input[type=submit] {
        width: 100%;
        margin-top: 100;
    }
}

.topnav {
    background-color: #ffffff;
    overflow: hidden;
}

/* Style the links inside the navigation bar */
.topnav a {
    float: right;
    color: #777777;
    text-align: center;
    padding: 24px 32px;
    text-decoration: none;
    font-size: 24px;
    font-family: 'Georgia', Times, Times New Roman, serif;
}

/* Change the color of links on hover */
.topnav a:hover {
    background-color: #ffffff;
    color: red;  
}

/* Add a color to the active/current link */
.topnav a.active {
    background-color: #4aaaa5;
    color: white;
    float: left;
    font-family: 'Georgia', Times, Times New Roman, serif;
}
.bottomnav {
    background-color: #666666;
    color: white;
    text-align: center;
    padding: 24px 32px;
    text-decoration: none;
    font-size: 12px;
    font-family: 'Georgia', Times, Times New Roman, serif;
    position: absolute;
    bottom: 0;
    width: 100%;
    border-top-color: #4aaaa5;
    border-top-style: solid;
    border-top-width: 8px;


}